{% extends 'base.html' %}
{% block content %}
{% if error %}
<script>
    alert('{{ error }}')
</script>
{% endif %}`
<style>
div{
    position:absolute;
    right:250px;
    top:100px;
   }
</style>
<div>
<h1>Login!</h1>
<form method="POST" action="{% url 'login' %}">
    <br/>
    {% csrf_token %}
    Username:
    <br/>
    <input type="text" name="username"/>
    <br/>
    Password:
    <br/>
    <input type="text" name="password"/>
    <br/>
    <br/>
    <input type="submit" class="btn btn-primary"  value="Log In"/>

</form>
</div>
{% endblock %}
